.client-info{
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}
.row{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: space-between;
}
.full-client-name{
  font-size: 24px;
}
.client-job{
  color: #00000080;
}