.client-details-info{
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.details-row{
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  align-content: space-between;
}
.full-client-details-name{
  font-size: 28px;
  font-weight: 600;
}
.client-details-job{
  margin-top: 15px;
  font-size: 18px;
}
.contact-title{
  margin-top: 15px;
  font-size: 24px;
  text-decoration: underline;
}
.contacts-info{
  margin-top: 10px;
  font-size: 18px;
}
address{
  margin-top: 10px;
  font-size: 20px;
}